.room-page {
  width: 100%;
  height: 100%;
  padding: 0.1rem;
  color: #663300;
  .room-content {
    width: 100%;
    height: 100%;
    padding: 0.5rem;
    background-image: url("./img/center_bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    .logo {
      width: 4rem;
      height: 1.58rem;
    }
    .room-type-img {
      width: 2.78rem;
      height: 0.66rem;
      margin-top: 0.3rem;
    }
    .play-desc {
      margin-top: 0.2rem;
      font-size: 0.28rem;
      line-height: 0.35rem;
      font-weight: 700;
    }
    .ewm-title {
      width: 2.78rem;
      height: 0.66rem;
      margin-top: 0.3rem;
    }
    .ewm-wrapper {
      padding: 0.2rem 0.5rem;
      flex: 1;
      justify-content: space-around;
      margin-top: 0.5rem;
      border: 2px solid #663300;
      width: 100%;
      border-radius: 0.2rem;
      .user-wrapper {
        justify-content: space-between;
        align-items: center;
        .avatar {
          width: 1.2rem;
          height: 1.2rem;
          border: 2px solid #663300;
          border-radius: 0.1rem;
        }
        .user-info {
          flex: 1;
          margin-left: 0.2rem;
          font-size: 0.3rem;
          line-height: 0.5rem;
        }
        .code-img {
          width: 1.2rem;
          height: 1.2rem;
          background-size: 100%;
        }
        .picker {
          width: 1.5rem;
          height: 1.5rem;
        }
      }
    }
    .picker-wrapper {
      align-items: flex-end;
    }
  }
  .am-list {
    width: 100%;
    margin-top: 0.3rem;
    .am-list-item {
      background-color: #fdf1be;
      border: 1px solid #663300;
      border-radius: 5px;
    }
  }
}
