.qz-page {
  width: 100%;
  height: 100%;
  background-image: url("./img/bg.png");
  background-repeat: no-repeat;
  background-size: 100%;
}
.qz-code-img {
  width: 3rem;
  height: auto;
}
.am-modal-wrap {
  width: 6rem;
  height: auto;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  .am-modal-body {
    display: flex;
    justify-content: center;
    .qz-picker {
      width: 100%;
      height: auto;
    }
  }
}
